<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="FacebookAppId" value="795898957121228"/>
    <add key="FacebookAppSecret" value="ad3c2642af45bfb300cca6c8374ae322"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"></customErrors>
    <globalization culture="da-DK" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".tab" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
</configuration>
